* {
    margin: 0;
    padding: 0;
}

/* section part */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e7eb;
    width: 100%;
}

/* article-part */
article {
    background-color: white;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

/* left container */
.left-div {
    width: 50%;
    height: 100%;
    display: flex;
}

/* General inner container within the left-div*/
.leftDiv-cont {
    width: 65%;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

/* Container for text content */
.left-texts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

/* Styling for heading inside the left-texts container */
.left-texts h1 {
    font-size: 200%;
    font-weight: 550;
    margin: 0;
}

/* Paragraph text styling in left-texts */
.left-texts p {
    color: gray;
}

/* Styling for the Google login button container */
.google-login {
    font-size: 1.5rem;
    width: 100%;
    color: gray;
    margin: 0;
    padding: 8px 0;
    display: flex;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/* Paragraph text inside Google login container */
.google-login p {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

/* Styling for separator "or" section */
.or {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 10px;
    color: gray;
}

/* Line styling within the "or" section */
.or p {
    border-bottom: 1px solid rgb(223, 218, 218);
    width: 100%;
}

/* Form container styling */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Input field container within the form */
.email-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    color: gray;
}

/* Input field styling */
.email-form input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(212, 210, 210);
}

/* Container for the "forgot password" and "remember me" section */
.forgot {
    display: flex;
    justify-content: space-between;
}

/* "Remember me" and "forgot password" link styling */
.rem-and-forgot {
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
}

/* Link styling in rem-and-forgot container */
.rem-and-forgot a {
    color: black;
}

/* button styling */
button {
    width: 100%;
    padding: 10px 0;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* Styling for sign-up container */
.signup-cont {
    text-align: center;
    color: gray;
}

/* Link styling inside sign-up container */
.signup-cont a {
    color: black;
    text-decoration: none;
}

/* Styling for the right container */
.right-div {
    width: 50%;
    height: 100%;
    background-image: url(second-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* General content container for right-div */
.rightDiv-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin: 100px 0;
    width: 100%;
}


/* Image styling within right-div */
#glass-picture {
    opacity: 0.8;
    width: 100%;
    height: 20vh;
}

/* Text styling for the right section */
.rightDiv-text {
    font-size: 30px;
    margin: 0 40px;
    color: white;
}

/* Sophie container styling */
.sophie {
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 15px;
    color: white;
}

/* Text styling within the Sophie container */
.sophie-text {
    font-size: 20px;
    font-size: 20px;
}

/* Founder container styling */
.founder {
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 15px;
    color: white;
}

/* Additional styling for elements in founder-web */
.founder-web {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Arrow container styling */
.arrow-cont {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

/* Styling for individual arrow elements */
.arrow {
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 10px;
}